---
title: Tack för din förfrågan
layout: layouts/page.njk
---
<p>Tack! Din serviceförfrågan har skickats. Vi återkommer så snart vi kan.</p>
<p><a class="underline" href="/">Tillbaka till startsidan</a></p>
